<section class="section service border-top">
  <div class="container">
    <div class="row">
      {{ range $index, $section := .sections }}
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
        <div class="service-item">
          <i class="{{ $section.icon }}"></i>
          <h4
            class="mb-3 editable"
            data-cms-bind="content_blocks[4].sections[{{$index}}].title"
          >
            {{ $section.title }}
          </h4>
          <p
            class="editable"
            data-cms-bind="content_blocks[4].sections[{{$index}}].text"
          >
            {{ $section.text }}
          </p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
