{{ define "main" }}
<section class="section privacy mb-6">
  <div class="container">
    <article class="message is-dark">
      <div class="message-body">
        <i>Updated on January 18, 2021</i>
      </div>
    </article>

    <p>
      Razoyo, LLC (“<strong>Razoyo</strong>“, “<strong>we</strong>“,
      “<strong>us</strong>“, and “<strong>our</strong>“) is a company
      headquartered in the State of Texas in the United States. Razoyo provides
      consulting and software development services to support ecommerce
      merchants and general application software development for enterprises. To
      support our Service offering we operate several websites including
      razoyo.com, automaticffl.com, and subdomains of each (collectively, the
      “<strong>Websites</strong>“). All Websites that we operate are covered
      under this policy. By using our Services, our Software, or our Websites,
      you agree to the terms of this Privacy Policy.
    </p>
    <hr />

    <h3>1. Key Terms</h3>
    <p>
      In addition to the terms we defined above, other terms in this document
      have the following meanings:
    </p>
    <ul>
      <li>
        “<strong>Client</strong>” means a person or company who has created a
        Razoyo or Automatic FFL account or purchased or downloaded our Software.
      </li>
      <li>
        “<strong>Customer</strong>” means a person who uses a system which is
        connected to the Service or our Software by or on behalf of a Client.
      </li>
      <li>
        “<strong>Visitor</strong>” means a person who visits our Websites or
        other online properties which we operate or maintain.
      </li>
      <li>
        “<strong>Personal Information</strong>” means any information that can
        be used to identify a Client, Customer, or Visitor. Some examples of
        Personal Information are name, email address, physical address, or
        telephone number.
      </li>
      <li>
        “<strong>you</strong>” or “<strong>your</strong>” means the individual
        or company to whom this agreement applies. These may be Clients,
        Customers, and/or Visitors depending on the context in which the term is
        used.
      </li>
      <li>
        “<strong>sub-processor</strong>” means a company which provides a
        service, software, or system to Razoyo used to maintain, operate,
        manage, or otherwise offer our Service, Software, or Websites.
      </li>
    </ul>

    <h3>2. Protecting Your Information</h3>
    <p>
      We understand that you trust us when you use our Service, Software, or
      Websites and we want you to understand how we handle your Personal
      Information. We take important steps to protect your Personal Information:
    </p>
    <ul>
      <li>We treat it as confidential</li>
      <li>We train our employees to take care in handling it</li>
      <li>
        We limit access to employees who need access to perform their jobs
      </li>
      <li>We take steps to protect our systems from unauthorized access</li>
      <li>
        We use encryption and secure channels when storing or transferring your
        information
      </li>
      <li>
        We require that our sub-processors agree to protect your Personal
        Information under privacy and data protection agreements which are at
        least as strict as the terms of this policy.
      </li>
      <li>We comply with all laws that apply to us</li>
    </ul>

    <h3>3. Collecting Your Information</h3>
    <p>
      We get your personal information mostly from you. If you are a Client, you
      may provide us with Personal Information in the course of using the
      Service. We may also use outside sources to help ensure our records are
      correct and complete.
    </p>
    <p>
      The types of Personal Information we collect depend on which Software or
      Service you use and how you use it. This information can include: Contact
      Information (email address, phone number, address, name), Company
      Information (company name, address, government identification information)
      and Payment information (credit card or bank details which we use for
      billing purposes).
    </p>
    <p>
      We provide our Service to our Clients and, as a result, we act as a
      processor on behalf of our Clients for much of the Personal Information we
      collect and process about Customers through our Service. We are not
      responsible for the privacy and data protection practices of our Clients
      and these may differ from the policies described in this privacy policy.
      Please contact individual Clients for information about their policies and
      practices.
    </p>

    <h3>4. Storing and Managing Your Information</h3>
    <p>
      We will retain Personal Information while we have an ongoing legitimate
      business interest, contractual obligation, or legal requirement to do so.
      If we have a legal obligation to retain Personal Information we will do so
      for the period of time required by law. For Personal Information which is
      required for the operation of our Service, we retain it for the period of
      time it is required under contract to our Clients or our legitimate
      business interest in maintaining our Service.
    </p>
    <p>
      When we no longer have a legal or contractual obligation or legitimate
      business need to retain Personal Information we will delete it from our
      system and the system of any sub-processors we use. Information which is
      deleted may still be stored for a period of time in backup files or
      systems but this information will be isolated from further processing
      until the backup files in which the information is stored are no longer
      required.
    </p>

    <h3>5. Information for EEA Residents</h3>
    <p>
      This section applies only to residents of or companies based in or doing
      business in the European Economic Area (“<strong>EEA</strong>“). Depending
      on the context in which we collect and process Personal Information, our
      legal basis for undertaking collection and processing of Personal
      Information may differ.
    </p>
    <p>
      In most cases, we will collect and process Personal Information where were
      have <strong>legitimate business interests</strong> which require us to do
      so. Our legitimate business interests for processing Personal Information
      include but are not limited to: providing, maintaining, and improving the
      products and services that we offer; ensuring the security and stability
      of our Service and Websites; and for our marketing activities. These
      interests only apply so long as they are not overridden by the
      <strong>fundamental rights and freedoms</strong> or
      <strong>data protection interests</strong> of our Clients or their
      Customers.
    </p>
    <p>
      We may collect and process Personal Information about our Clients in order
      to <strong>perform a contract</strong> with you. In limited cases, we may
      also have a <strong>legal obligation</strong> to collect Personal
      Information from you. If this is the case, we will make this clear to you
      at the time of collection and explain to you the consequences if you do
      not provide this information.
    </p>
    <p>
      We act as a <strong>data processor</strong> of Personal Information about
      Customers on behalf of our Clients pursuant to our
      <strong>legitimate business interests</strong> or in order to
      <strong>perform a contract</strong>. We are not responsible for the
      privacy and data protection practices of our Clients and these may differ
      from the policies described in this privacy policy.
    </p>
    <p>
      You may provide us with <strong>consent</strong> for us to contact you
      with marketing or advertising messages. You may withdraw your consent to
      receive marketing or advertising messages from us at any time. Use of your
      Personal Information with consent for marketing or advertising puposes
      which occured prior to withdrawal of consent will not be considered
      unlawful.
    </p>
    <p>
      If you are a resident of the EEA or representative of a Company based in
      or doing business in the EEA you can object to processing of your Personal
      Information, ask us to restrict processing of Personal Information to
      specific purposes, or request portability of your Personal Information.
      You also have the right to complain to a data protection authority about
      the collection and use of Personal Information. For more information,
      contact your local data protection authority.
    </p>
    <p>
      If you have any questions about the legal basis on which we collect and
      process your Personal Information, please contact us using the information
      in the “Questions and Contacts” section below.
    </p>

    <h3>6. Using Your Information</h3>
    <p>
      We do not make available to the general public any Personal Information
      except that we may use the company names of our Clients in public lists of
      our users unless we are prevented by law or contract from doing so. You
      may request in writing (which may be by email) that we do not use your
      company name publicly and we will comply with any such requests.
    </p>
    <p>
      We may use the Personal Information we collect for a range of reasons:
    </p>
    <ol>
      <li>
        To provide the Service to you and support or improve the Service for
        you.
      </li>
      <li>
        To give you system alerts about the Service which may include scheduled
        or unscheduled service interruptions, changes to the features and
        functionality available to you, or updates to agreements or policies
        which apply to you.
      </li>
      <li>
        To communicate with you about your account including for technical
        support, consultation or other services you may purchase from us, or to
        enforce compliance with any agreements you have established with us.
      </li>
      <li>
        To bill and collect money owed to us by you if you subscribe to the
        Service
      </li>
      <li>
        To meet legal obligations including complying with regulations, laws,
        court orders, or other legal requirements.
      </li>
      <li>
        To provide information to you on our products and services as well as
        the products and services of our affiliated or unaffiliated business
        partners where we believe information on those products or services may
        be relevant to you only if you have provided specific consent for us to
        contact you with such information.
      </li>
      <li>
        To ensure the Service is operating correctly or produce analytical
        information for our business or marketing purposes. Information used for
        this purpose is limited to the most general information possible,
        anonymized in such a way that it can not be reasonably used to identify
        you, and is combined with Personal Information collected from other
        Clients or Customers.
      </li>
      <li>
        To carry out other lawful and legitimate business operations about which
        we will notify you.
      </li>
    </ol>

    <h3>7. Opting Out of Marketing Emails</h3>
    <p>
      Before we use your Personal Information to contact you for marketing
      purposes, we will obtain your consent to do so. We may ask for your
      consent when you subscribe to receive marketing emails from us, create an
      account or subscription to our Service, or purchase a product from us.
      From time to time, we may ask you to confirm your consent to continue to
      receive marketing messages from us.
    </p>
    <p>
      In each marketing email we send to you we will include a link which you
      can use to unsubscribe from future marketing messages. You may also
      contact us by the means described in the “Questions and Contacts” section
      below to opt out from further marketing messages.
    </p>
    <p>
      If you are a Client you will still receive messages from us which are not
      marketing or promotional in nature even if you opt out of marketing
      emails. These may include messages about your account, billing, service
      alerts, technical support, or other transactional messages which are
      necessary to maintain your account with us. Unless you cancel your account
      with us, you can not opt out of these messages.
    </p>

    <h3>8. Non-Personal User Content</h3>
    <p>
      We may use user submitted content such as ratings, reviews, feedback
      (“User Content”) in a number of different ways, including displaying it on
      Websites, reformatting it, incorporating it into other works, creating
      derivative works from it, promoting it, or distributing it. Accordingly,
      you grant us permission to use your User Content for any purpose. You also
      grant the Website users the right to access User Content in connection
      with their use of the Website.
    </p>
    <p>
      You assume all risks associated with User Content, including reliance on
      its accuracy, completeness or usefulness, or any disclosure by you of
      information in your User Content that makes you personally identifiable.
      You may not imply that User Content is in any way sponsored or endorsed by
      us.
    </p>
    <p>
      We cannot and do not review all User Content feedback, nor do we have any
      control over the same. Under no circumstances shall we be held responsible
      or liable for any claims or damages arising out of any reviews or
      feedback.
    </p>
    <p>
      We may remove, edit or reinstate User Content at any time without notice.
      You may request removal of User Content which you have submitted or which
      contains your Personal Information by contacting us using the means
      described in the “Questions and Contacts” section below.
    </p>

    <h3 id="cookies">9. Cookies</h3>
    <p>
      We use cookies and log files to: (a) store information so that you will
      not have to re-enter it during your next visit to the Website; (b) provide
      custom, personalized content and information; (c) monitor the
      effectiveness of our services; and (d) monitor metrics such as total
      number of visitors and pages viewed.
    </p>
    <p>
      Acceptance of cookies are required for Clients to use the Service but are
      not required for Customers or Visitors. Clients who do not wish to allow
      us to use cookies to provide the Service to them will need to cancel their
      account with the Service under the terms of their User Agreement with us.
      Customers or Visitors who do not wish to allow us to use cookies may use
      their web browser settings to prevent us from doing so at any time.
    </p>

    <h3>10. Accessing and Managing Your Information</h3>
    <p>
      Clients can manage much of the Personal Information that they provide to
      us from within the Razoyo or Automatic FFL Services.
    </p>
    <p>
      If you have provided consent to us to collect or process certain
      information you can withdraw consent at any time by contacting us. If you
      withdraw your consent this action will not affect the lawfulness of any
      collection or processing that we conducted prior to withdrawal of consent
      and it will not affect the lawfulness of any processing we perform on
      lawful grounds other than consent.
    </p>
    <p>
      If you are a Client and receive a data protection rights request from a
      Customer you can submit a request to us on behalf of your Customer to
      exercise these rights. If we receive a data protection request from a
      Customer, we will direct the Customer to contact the Client who provided
      the Customer’s information to us.
    </p>
    <p>
      You can request that we delete your Personal Information from our system
      and the systems of our sub-processors. We are required by law to maintain
      certain records which may contain Personal Information for specified
      periods of time and will inform you if this requirement applies to your
      data in our response to your request.
    </p>
    <p>
      If you wish to exercise any of the rights described in this section or
      request additional information about your rights or the Personal
      Information which we collect, process, or store you can contact us using
      the information described in the “Questions and Contacts” section below.
      We will respond to all data protection requests we receive.
    </p>
    <p>
      We may not “discriminate” against you for exercising these privacy rights.
      We cannot deny goods or services, charge different prices, or provide a
      different quality of goods or services to those consumers. There are some
      exceptions, however, on the service levels that can be provided.
    </p>

    <h3>11. Incident Response</h3>
    <p>
      If Razoyo or any of our sub-processors experiences a security incident
      which may have exposed Personal Information we will notify you as soon as
      reasonably possible and take immediate steps to identify, remediate, and
      prevent future occurrences of any such incidents. We will also fulfill our
      obligations under applicable laws and regulations to notify appropriate
      authorities. If you are a Client and you or your Customers are effected by
      a security incident, we will work with you to take appropriate steps
      including notifying Customers who may be effected as well as any
      additional authorities as may be appropriate or required under law.
    </p>

    <h3 id="personal-info">12. Questions and Contacts</h3>
    <p>
      We want you to understand how we protect your privacy. If you have any
      questions about this notice, please contact us. For certain requests we
      may require that you contact us in writing by email or certified mail if
      required by law or our internal policies. We will inform you of this
      requirement if it applies to your request in our response. We may ask you
      to verify your identity in order to ensure your privacy and help us
      respond appropriately.
    </p>
    <p>
      We maintain a list of sub-processors and information about the services
      they provide to us which you may request at any time.
    </p>
    <p>
      When you write, include your name, address, and account user name or email
      address. Send questions or requests by email to support@razoyo.com,
      contact us by phone at +1 (469) 828-6801, or by mail at Razoyo, ATTN:
      Privacy Request Processing, PO Box #560634, The Colony, TX 75056, USA.
    </p>
    <p>
      We are required to respond to all requests within 45 days, free of charge
      to you.
    </p>

    <h3>13. Changes to This Policy</h3>
    <p>
      We may change this Privacy Policy from time to time. If we make any
      material changes, we will notify you as required by law or our agreements
      with you. The date of the most recent update to this policy will be
      indicated on this document.
    </p>
  </div>
</section>
{{ end }}
