<form
  id="search"
  action='{{ with .GetPage "/search" }}{{.Permalink}}{{end}}'
  method="get"
  class="bg-white p-4 rounded shadow-md flex items-center"
>
  <label hidden for="search-input">Search site</label>
  <input
    type="text"
    id="search-input"
    name="query"
    placeholder="Type here to search"
    class="border border-gray-300 p-2 rounded w-full mr-2"
  />
  <input
    class="bg-blue-600 p-2 rounded hover:bg-blue-700 cursor-pointer"
    type="submit"
    value="search"
  />
</form>
