<section class="section about position-relative">
  <div class="bg-about"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-6 offset-md-0">
        <div class="about-item">
          <span class="h6 text-color editable"
            >This is a sample subheading</span
          >
          <h2 class="mt-3 mb-4 position-relative content-title editable">
            About section heading
          </h2>
          <div class="about-content">
            <h4 class="mb-3 position-relative editable">-subheading example</h4>
            <p class="mb-5 editable">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            </p>

            <a href="{{ .link.url }}" class="btn btn-main btn-round-full"
              >{{ .link.text | markdownify }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
